/* 

TemplateMo 586 Scholar

https://templatemo.com/tm-586-scholar

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #1e1e1e;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #06A3DA;
  color: #fff;
}

::-moz-selection {
  background: #06A3DA;
  color: #fff;
}

.section {
  padding-top: 30px;
  margin-top: 120px;
}

.main-button a {
  display: inline-block;
  background-color: #fff;
  color: #06A3DA;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 25px;
  border-radius: 20px;
  transition: all .3s;
}

.main-button a:hover {
  background-color: #06A3DA;
  color: #fff;
}

/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/

.header-area {
  position: fixed;
  background-color: #06A3DA;
  border-radius: 0px 0px 25px 25px;
  height: 80px!important;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;

}

.header-area .main-nav {
  display: flex;
  margin-top: 12px;
}

.logo {
  display: flex; 
  align-items: center; 
  text-decoration: none;
}

.logo-image {
  width: 40px; 
  height: auto; 
  margin-right: 10px; 
}

.header-area .main-nav .logo h1 {
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  margin-right: 20px;
  margin-left: 10px;
  padding-right: 20px;
  border-right: 1px solid rgba(250, 250, 250, 0.3);
}

.service-hours {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  display: flex; /* Agar elemen ditampilkan dalam satu baris */
  align-items: center; /* Vertikal center jika ada elemen lain */
  white-space: nowrap; /* Mencegah teks terpisah ke baris baru */
}

.header-area .main-nav #search {
  position: relative;
}

.header-area .main-nav #search input {
  background-color: rgba(255, 255, 255, 0.10);
  height: 44px;
  width: 250px;
  border-radius: 23px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 0px 20px 0px;
}

.header-area .main-nav #search input::placeholder {
  color: rgba(250, 250, 250, 0.75);
}

.header-area .main-nav #search i {
  position: absolute;
  color: #fff;
  right: 20px;
  top: 15px;
  font-size: 16px;
}

.header-area .main-nav ul.nav {
  border-radius: 0px 0px 25px 25px;
  flex-basis: 100%;
  margin-right: 0px;
  justify-content: right;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
  margin-top: 8px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li {
  padding-left: 5px;
  padding-right: 5px;
  height: 40px;
  line-height: 40px;
}

.header-area .main-nav .nav li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-weight: 300;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: transparent;
  letter-spacing: .25px;
}


.header-area .main-nav .nav li:hover a {
  opacity: 0.8;
}
.header-area .main-nav .nav li a.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.10);
  opacity: 1;
}


.header-area .main-nav .menu-trigger {
  cursor: pointer;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
}


.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #fff;
}


.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #fff;
}


.header-area.header-sticky .nav li a.active {
  color: #fff;
}

.visible{
  display:inline !important;
}

/* Dropdown menu */
.header-area .main-nav .nav .dropdown {
  position: relative;
}

.header-area .main-nav .nav .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Memperkecil bayangan */
  z-index: 1000;
  min-width: 250px; /* Lebar minimum */
  max-width: 350px; /* Lebar maksimum */
  word-wrap: break-word;
  padding: 5px 0; /* Memperkecil jarak vertikal */
  border: 1px solid #ddd; /* Border kecil */
  border-radius: 10px; /* Memastikan ujung dropdown tetap sedikit melengkung */
}

.header-area .main-nav .nav .dropdown .dropdown-menu li {
  padding: 0; /* Menghilangkan padding agar teks penuh */
}

.header-area .main-nav .nav .dropdown .dropdown-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  text-transform: none; /* Memastikan teks mengikuti HTML */
  line-height: 1.5;
  display: block; /* Membuat elemen link menggunakan lebar penuh */
  padding: 10px 15px; /* Memberikan spasi dalam elemen */
  width: 100%; /* Memastikan teks memenuhi lebar */
}

.header-area .main-nav .nav .dropdown .dropdown-menu li a:hover {
  color: #fff; /* Warna teks saat hover */
  background-color: #06A3DA; /* Warna latar saat hover */
}

.header-area .main-nav .nav .dropdown:hover .dropdown-menu {
  display: block;
}


/* Tampilan untuk max-width 1200px */
@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 2px;
    padding-right: 2px;
  }

  .header-area .main-nav .nav li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px; /* Ukuran font lebih kecil */
    height: 40px; /* Tinggi menu tetap */
  }

  .header-area .main-nav .logo {
    margin-right: 20px;
    font-size: 30px; /* Ukuran logo lebih kecil pada layar sedang */
  }

  .header-area .main-nav #search input {
    width: 200px; /* Ukuran input pencarian lebih kecil */
  }

  /* Agar menu navigasi tetap menampilkan item dengan jarak lebih kecil pada layar lebih kecil */
  .header-area .main-nav ul.nav {
    justify-content: flex-end;
  }
}

/* Tampilan untuk max-width 767px */
@media (max-width: 767px) {
  .header-area {
    height: 70px; /* Sesuaikan tinggi header untuk layar lebih kecil */
    background-color: #06A3DA; /* Tetap dengan latar belakang biru */
    padding: 0 10px;
    box-shadow: none;
  }

  .header-area .main-nav {
    flex-direction: column; 
    height: auto; 
  }

  .header-area .main-nav .nav {
    width: 100%;
    display: none; 
    margin-top: 21px;
    background-color: #f0fbfe; 
  }
  .logo-image {
    display: none;
  }

  .header-area .main-nav .logo h1 {
    font-size: 25px; 
    margin-right: 10px; 
    padding-right: 11px; 
  }

  .service-hours {
    font-size: 11px; 
    white-space: normal; 
    margin-left: 10px;
  }

  .header-area .main-nav .menu-trigger {
    display: flex !important;
    margin-top: -10px;
  }

  .header-area .main-nav .nav li {
    width: 100%; 
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #ddd; 
    text-align: center;
    border-radius: 10px;
  }

  .header-area .main-nav .nav li a {
    line-height: 50px;
    height: 50px;
    font-weight: 400;
    color: #1e1e1e;
    border-radius: 0px 0px 25px 25px;
  }

  .header-area .main-nav .nav li a.active {
    color: #06A3DA;
    background-color: rgba(255, 255, 255, 0.10);
  }

  .header-area .main-nav .menu-trigger.active span {
    background-color: transparent;
    width: 100%;
  }

  .header-area .main-nav .menu-trigger.active span:before {
    transform: translateY(6px) rotate(45deg);
  }

  .header-area .main-nav .menu-trigger.active span:after {
    transform: translateY(-6px) rotate(-45deg);
  }

  /* Menampilkan menu dropdown ketika menu trigger aktif */
  .header-area .main-nav .nav.active {
    display: block;
    margin-top: 10px;
  }

  /*dropdwon*/
  .header-area .main-nav .nav .dropdown .dropdown-menu {
    max-width: 90%; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #f0fbfe; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 0; 
    border: none; 
    border-radius: 10px; 
    text-align: left; 
  }

  .header-area .main-nav .nav .dropdown .dropdown-menu li {
    border: none; 
  }
  .header-area .main-nav .nav .dropdown .dropdown-menu li a {
    font-size: 14px; 
    padding: 10px 15px; 
    color: #333; 
    text-decoration: none; 
    display: block; 
  }

  .header-area .main-nav .nav .dropdown .dropdown-menu li a:hover {
    background-color: #06A3DA; 
    color: #fff; 
  }

  .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .dropdown-menu.show {
      display: block;
      opacity: 1;
  }

}

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-bannerpusat {
  padding: 170px 0px 120px 0px;
  margin-bottom: -350px;
}

.main-bannerpusat .item-1pusat {
  background-image: url(../images/image.png);
  background-color: #091E3E;
  position: relative; 
  overflow: hidden; 
  height: 90vh;
}

.main-bannerpusat .item-1pusat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 30, 62, 0.8);  
  z-index: 1; 
}

.main-bannerpusat .item-1pusat .header-textpusat {
  position: relative; 
  z-index: 2;
}

.main-bannerpusat .itempusat {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 25px;
  padding: 100px 100px;
  margin-left: 130px;
}

.main-bannerpusat .itempusat h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 70px;
  width: 60%;
  margin-bottom: 40px;
}

.main-bannerpusat .itempusat p {
  color: #fff;
  width: 65%;
}

.fun-factspusat {
  position: relative;
  padding: 120px 0px 80px 0px;
  margin-top: -50px; 
}

.fun-factspusat:before {
  position: absolute;
  top: -85px; 
  bottom: 0;
  left: 0;
  z-index: -1; 
  width: 30%;
  height: 100%;
  background-color: #06A3DA;
  content: '';
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}

@media (max-width: 1200px) {
  .fun-factspusat:before {
    width: 100%; 
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    top: -300px; 
  }
}

@media (max-width: 767px) {
  .main-bannerpusat {
    padding: 170px 0px 120px 0px;
    margin-bottom: -450px;
  }
  .fun-factspusat:before {
    width: 30px; 
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    top: -180px; 
  }
}

/* 
---------------------------------------------
Pusat pusat List Style
--------------------------------------------- 
*/

.section-headingpusat h2 {
  margin-bottom: 80px;
  padding-bottom: 20px;
  color: #091E3E;
  border-bottom: 2px solid #091E3E;
  border-radius: 5px;
}

.events_item .thumb {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.events_item .thumb img {
  margin-bottom: -5px;
}

.events_item {
  background-color: #f0fbfe;
  border-radius: 25px;
  margin-bottom: -10px;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 320px;
  margin-bottom: 20px;
} 

.events_item .down-content {
  padding: 18px 20px;
}

.events_item .down-content h4 {
  font-size: 14px;
  font-weight: 600;
  transition: all .3s;
  text-align: center;
  margin-top: 5px;
}

.events_item:hover .down-content h4 {
  color: #06A3DA;
}
.event-img {
  width: 100%; 
  height: 250px; 
  object-fit: cover; 
  border-radius: 5px; 
}

/* 
---------------------------------------------
ukm List Style
--------------------------------------------- 
*/

.ukm-section {
    padding: 190px 20px 50px;
}
  
.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
    color: #091E3E;
    position: relative;
}

.section-title::after {
    content: "";
    display: block;
    width: 80px; 
    height: 4px;
    background-color: #06A3DA;
    margin: 10px auto 0;
    border-radius: 2px;
}

.ukm-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: -70px;
}

.ukm-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(25% - 20px);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.ukm-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.ukm-name {
    font-size: 1.5rem;
    color: #06A3DA;
    margin-bottom: 10px;
}

.ukm-name u {
    text-decoration: none; 
    border-bottom: 1px solid #091E3E; 
    font-weight: bold;
}

.ukm-desc {
    font-size: 1rem;
    color: #555;
}

/* 
---------------------------------------------
beritaslide Style
--------------------------------------------- 
*/

.containerbs {
    padding: 180px 0;
    margin-bottom: -200px;
  }
  
  .judulbs h2 {
    font-size: 2.3rem;
    color: #343a40;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
  }
  
  .judulbs h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 30%;
    height: 3px;
    background-color: #06A3DA;
  }
  
  .news-gridbs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 10px;
    padding: 40px;
  }
  
  .news-itembs {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    flex-direction: column; 
    display: flex;
  }
  
  .news-itembs:hover {
    transform: translateY(-10px);
  }
  
  .news-itembs {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative; 
  }
  
  .news-imagebs img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  
  .news-contentbs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .news-titlebs {
    font-size: 0.8rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .news-metabs {
    font-size: 0.7rem;
    color: #6c757d;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    text-align: right;
    padding: 4%;
    right: 0;
  }
  
  .news-metabs strong {
    font-weight: bold;
  }
  
  .paginationbs {
    text-align: center;
    margin-bottom: -40px;
  }
  
  .paginationbs .pagination {
    justify-content: center;
  }
  
  .paginationbs p {
    display: none;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
  margin-top: 150px;
  position: relative;
  background-color: #06A3DA;
  vertical-align: middle;
  min-height: 150px;
  border-radius: 150px 150px 0px 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
  flex: 1;
}

footer .footer-left img {
  max-width: 130px;
  height: auto;
  margin-left: 130px;
}

footer .footer-center p{
  margin-left: 130px;
  margin-top: 30px;
  text-align: center;
  color: #fff;
}

footer .footer-right {
  text-align: right;
  margin-right: 130px;
  margin-top: 30px;
}

footer .footer-right p {
  color: #fff;
}

footer .footer-about {
  font-weight: 600;
}

footer .social-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s;
}

footer .social-icons a:hover {
  color: #06A3DA;
}

footer .footer-copyright {
  font-weight: 400;
}

footer p a {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  z-index: 3;
}

footer p a:hover {
  opacity: 0.75;
}

footer::before {
  background: url(../images/contact-dec-01.png);
  position: absolute;
  bottom: 0;
  margin-top: 20px; 
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  opacity: 1;
  width: 318px;
  height: 119px;
  content: '';
  z-index: 2;
}

@media (max-width: 767px) {
  footer {
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
    min-height: 200px;
  }

  footer .footer-left,
  footer .footer-center,
  footer .footer-right {
    flex: 1;
    margin-bottom: 20px;
  }

  footer .footer-left img {
    max-width: 100px;
    margin-left: 0;
  }

  footer .footer-center p {
    margin-left: 0;
    margin-top: 10px;
  }

  footer .footer-right {
    text-align: center;
    margin-right: 0;
  }

  footer .footer-right p {
    margin-top: 10px;
  }

  footer::before {
    width: 320px;
    height: 110px;
    margin-top: 10px;
  }
}

/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .header-area {
    top: 0px;
  }
  .header-area .main-nav .logo h1 {
    border-right: none;
  }
  /*banner*/
  .main-bannerpusat .itempusat {
    padding: 80px 30px 120px 30px !important;
  }
  .event_filter  {
    padding: 15px 20px;
  }
  .event_filter li {
    display: inline-block;
    margin: 0px 10px;
  }
  /*pusat*/
  .section-headingpusat h4 {
    margin-bottom: 90px;
  }
  .events_item {
    height: 300px;
    margin-bottom: 20px;
  }
  .events_item .down-content {
    padding: 10px 15px;
  }
  .events_item .down-content h4 {
    font-size: 15px;
  }
  /*ukm*/
  .section-title{
    margin-top: -50px;
  }
  .ukm-name{
    font-size: 18px;
  }
  .ukm-card {
    width: 80%;
    margin: 3%;
  }
  .ukm-grid{
    margin-bottom: 20px;
  }
  /*beritaslide*/
  .judulbs h2 {
    font-size: 1.8rem;
    margin-top: -20px;
    margin-bottom: -10px;
  }
  .news-gridbs {
    grid-template-columns: 1fr; 
    gap: 10px;
  }
  .news-itembs {
    margin-bottom: 5px;
  }
  .paginationbs {
    margin-bottom: 50px;
    margin-top: -85px;
  }
}

@media (max-width: 992px) {
  .header-area .main-nav #search input,
  .header-area .main-nav #search i {
    display: none;
  }
  .header-area .main-nav .logo h1 {
    font-size: 30px;
  }
  .header-area .main-nav .logo {
    border-right: none;
  }
  /*banner*/
  .main-bannerpusat {
    padding-top: 100px;
  }
  .main-bannerpusat .itempusat {
    padding: 100px 60px 140px 60px;
    margin-left: 0px;
    text-align: center;
  }
  .main-bannerpusat .itempusat h2,
  .main-bannerpusat .itempusat p {
    width: 100%;
  }
  .main-bannerpusat .itempusat h2 {
    font-size: 36px;
    line-height: 50px;
  }
  .main-bannerpusat .itempusat .buttons {
    display: inline-block;
    text-align: center;
  }
  .main-bannerpusat .itempusat .buttons .main-button {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .main-bannerpusat .owl-nav {
    left: 50% !important;
    transform: translateX(-60px) !important;
    bottom: 60px;
  }
  .main-bannerpusat .owl-nav .owl-prev i {
    bottom: 0px;
  }
  .main-bannerpusat .owl-nav .owl-next i {
    bottom: 0px;
    position: absolute;
    left: 65px;
  }
  /*pusat*/
  .courses {
    margin-top: 100px;
  }
  .fun-factspusat {
    margin-top: 70px;
  }
  .fun-factspusat::before {
    width: 70%;
  }
  /*ukm*/
  .section-title{
    margin-top: -50px;
  }
  .ukm-name{
    font-size: 18px;
  }
  .ukm-card {
    width: 80%;
    margin: 3%;
  }
  .ukm-grid{
    margin-bottom: 20px;
  }
  /*footer*/
  footer {
    margin-top: 30px;
  }
}

@media (max-width: 1200px) {
  .header-area .main-nav #search input {
    width: 200px;
  }
  .header-area .main-nav .nav li.has-sub:after {
    right: 15px;
  }
  .fun-factspusat:before {
    width: 75%;
  }
  .courses {
    margin-top: 120px;
  }
  .events_item {
    height: 350px;
  }
  .events_item .down-content {
    padding: 15px 20px;
  }
  .events_item .down-content h4 {
    font-size: 16px;
  }
  /*beritaslide*/
  .paginationbs {
    margin-bottom: 40px;
    margin-top: -20px;
  }
}